/* default body style */
body {
 font-family: Verdana, Arial;
 font-size: 13px;
 margin: 0px;
 vertical-align: top;
}

/* Top header */
div.header {
  color: #ffffff;
  padding: 30px 0em 30px 7em;
  background-color: #666666;
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  font-weight: bold;
}

/* footer */
div.footer {
  color: #999999;
  text-align: center;
  vertical-align: bottom;
  padding: 1.5em 0em 1.5em 7em;
}

/* left menu */
div.menu {
  vertical-align: top;
  background-color: #666666;
  float: left;
  width: 10em;
}

/* header menu items */
div.menu_header {
  padding-left: 0.5em;
  color: #ff0000;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  line-height: 125%;
}

/* menu item links */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* menu item links */
a.menu_item {
  padding-left: 1.0em;
  color: #ffffff;
  text-decoration: none;
  display: block;
}

a.menu_item:hover {
  color:  #5D90ED;
  text-decoration: underline;
}

/* menu item links */
a.header {
  color: #ffffff;
  text-decoration: none;
}

/* menu item links */
a.footer {
  color: #999999;
  text-decoration: none;
}

a.footer:hover {
  color:  #5D90ED;
  text-decoration: underline;
}

/* menu item links */
div.current_page {
  padding-left: 1.0em;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

/* introduction area */
div.paragraph_item {
  margin-left: 10.5em;
}
div.paragraph_item > h2:first-child {
  color: #ff0000;
}
div.paragraph_item > p {
  margin-left: 1em;
}

/* news area */
div.news {
  margin-left: 10.5em;
}

div.news > h2:first-child {
  color: #ff0000;
}

div.news_item {
  margin-left: 1em;
}

/* introduction area */
div.iframe {
  margin-left: 10em;
}

/* faq area */
div.faq {
  margin-left: 10.5em;
}

div.faq > h2:first-child {
  color: #ff0000;
}

div.faq_item {
  margin-left: 1em;
}

/* DEVMASTER */
.codeNormal { font-family: Courier New; font-size: 10pt; }
.codeKeyword { font-family: Courier New; color: #0000FF; font-size: 10pt }
.codeComment { color: #008000; font-family: Courier New; font-size: 10pt }
.code {
  margin-left: 1em;
	background: #FAFAFA; 
	border: 1px solid #888888; 
	font-family: Courier New; 
	color: #000000;
  font-size: 10pt; 
  height: auto; 
  width: 790px; 
  padding: 3px
}

.codeFixed {
  margin-left: 1em;
	background: #FFFFFF; 
	border: solid #888888 1px; 
	font-family: Courier New; 
	color: black;
  font-size: 10pt; 
  height: 250px; 
  width: 790px; 
  overflow: auto; 
  padding: 3px;
}

.BoxHeader {
	font-weight: bold; 
	font-size: 8pt; 
	color: white; 
	font-family: Tahoma, Sans-serif; 
	background-color: #306090;
}

A.BoxHeader {
	color: white; 
	background-color: #306090; 
	text-decoration: none;
}

A.BoxHeader:hover {
	color: white; 
	background-color: #306090; 
	text-decoration: underline;
}

.SmallText {
	font-size: 8pt; 
	font-family: Tahoma, Sans-serif;
}

.SmallText2 {
	font-size: 8pt; 
	line-height: 14pt; 
	font-family: Tahoma, Sans-serif;
}

.NewsHeader {
	font-weight: bold; 
	font-size: 12pt; 
	font-family: Tahoma, Sans-serif;
}

.Headline {
	font-weight: bold; 
	font-size: 12pt; 
	font-family: Verdana, Sans-serif;
}

.ArticleHdr {
	font-weight: bold; 
	font-size: 12pt; 
	font-family: Tahoma, Sans-serif;
}

.Heading {
	font-weight: bold; 
	font-size: 12pt; 
	color: #00006f; 
	letter-spacing: 0.1em; 
	background-color: transparent;
}

.NewsStd {
	background-color: #f0f0f0;
}

.NewsNew {
	background-color: #d0d0d0;
}

.NewsAuthor {
	font-size: 8pt; 
	color: #6f6f6f; 
	font-family: Tahoma, Sans-serif; 
	background-color: transparent;
}

.BlockHeader {
	background-color: #0053A6;
}

.tableHeader {
	font-family: Tahoma; 
	font-size: 10pt; 
	color: #FFFFFF;
}

.NormLink {
	color: black; 
	text-decoration: none;
}

:hover.NormLink {
	color: black; 
	text-decoration: underline;
}

.ArticleDesc {
  font-size: 8pt;
}

.ArticleTitle {
  font-family: Verdana; 
  font-size: 18pt; 
  font-weight: bold; 
  text-align: center; 
  color:#000080;
}

.ArticleAuthor {
  font-family: Verdana; 
  font-size: 10pt; 
  font-weight: bold; 
  text-align: center; 
  color:#6f6f6f;
}